<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ask chat a question</title>
</head>
<header>
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Chat</a></li>
      <li><a href="{{ url_for('account') }}">Account</a></li>
      <li><a href="{{ url_for('contact') }}">Contact us</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
  </nav>
</header>
<body>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
